<div
  id="actionsRow"
  *ngIf="getSelectedContacts().length > 0"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div>
    <mat-checkbox
      (click)="unselectAll()"
      [checked]="true"
      [indeterminate]="getSelectedContacts().length != dataSource.length"
    ></mat-checkbox>
    <button
      class="mat-elevation-z0"
      mat-mini-fab
      style="background-color: transparent; color: rgb(23, 23, 23)"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="selectAll()">All</button>
      <button mat-menu-item (click)="unselectAll()">None</button>
    </mat-menu>

    <button
      (click)="deleteSelectedContacts()"
      mat-icon-button
      style="color: #1a73e8"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div style="color: rgb(62, 62, 188)">
    {{ getSelectedContacts().length }} Selected
  </div>
</div>

<div id="loaderOverlay" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<table mat-table [dataSource]="dataSource">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let contact">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div style="width: 40px" fxLayout="row" fxLayoutAlign="center center">
          <mat-checkbox [(ngModel)]="contact.selected"></mat-checkbox>
          <app-avatar
            [fileName]="contact.pic"
            [name]="contact.firstName"
          ></app-avatar>
        </div>

        <div style="margin-left: 20px">{{ contact.firstName }}</div>
      </div>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let contact">{{ contact.lastName }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef>Company</th>
    <td mat-cell *matCellDef="let contact">{{ contact.company }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let contact">{{ contact.email }}</td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Phone</th>
    <td mat-cell *matCellDef="let contact">{{ contact.phone }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td style="width: 100px" mat-cell *matCellDef="let contact">
      <div class="actionButtons">
        <button
          (click)="delete(contact)"
          style="color: rgb(140, 140, 140)"
          mat-icon-button
        >
          <mat-icon>delete</mat-icon>
        </button>

        <button
          (click)="edit(contact)"
          style="color: rgb(140, 140, 140)"
          mat-icon-button
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr class="header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="header" *matHeaderRowDef="null">
    <div
      style="
        padding: 10px;
        font-size: 11px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: rgb(108, 108, 108);
      "
    >
      Contacts ({{ totalContacts }})
    </div>
  </tr>

  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [ngClass]="{ active: row.selected }"
  ></tr>
</table>

<div
  fxLayout="row"
  fxLayoutAlign="center center"
  style="height: 150px"
  fxLayoutGap="15px"
>
  <div *ngIf="dataSource.length > 0">
    Current Page: {{ currentPage }}/{{ totalPages() }}
  </div>
  <button
    [disabled]="loading || totalPages() === currentPage"
    (click)="loadMore()"
    mat-raised-button
    *ngIf="dataSource.length > 0"
  >
    Load More...
  </button>
</div>
