:host {
  display: block;
  padding-right: 100px;
  position: relative;

  #loaderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 230, 230, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 22;
  }

  #actionsRow {
    padding-left: 30px;
    padding-top: 20px;
  }
  table {
    width: 100%;
    mat-checkbox {
      display: none;
    }
    tr {
      td {
        .actionButtons {
          display: none;
        }
      }
      &:not(.header) {
        &:hover,
        &.active {
          background: whitesmoke;
          mat-checkbox {
            display: block;
          }
          app-avatar {
            display: none;
          }
          td {
            .actionButtons {
              display: block;
            }
          }
        }
      }
    }
    td.mat-cell {
      border-bottom-style: none;
    }
  }
}
