<div id="searchContainer">
  <mat-icon class="glass">search</mat-icon>
  <input
    [matAutocomplete]="auto"
    [(ngModel)]="text"
    placeholder="Search"
    type="text"
    (keyup)="search()"
  />
  <mat-icon class="close" *ngIf="text" (click)="text = ''">close</mat-icon>
</div>

<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
  <mat-option
    *ngFor="let contact of searchResult"
    [value]="contact.firstName"
    (click)="contactSelected(contact)"
  >
    <app-avatar
      class="search"
      [fileName]="contact.pic"
      [name]="contact.firstName"
    ></app-avatar>
    {{ contact.firstName }}
  </mat-option>
</mat-autocomplete>
