#searchContainer {
  position: relative;
  width: 50%;
  mat-icon {
    position: absolute;
    top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #5f6367;

    &.glass {
      left: 20px;
    }

    &.close {
      right: 20px;
      cursor: pointer;
    }
  }

  input {
    background-color: #f0f3f4;
    box-sizing: border-box;
    padding: 15px 60px;
    outline: none;
    border: 0px;
    letter-spacing: 1px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
  }
}
::ng-deep {
  app-avatar.search {
    button {
      transform: scale(0.7);
    }
  }
}
