<form (submit)="onFormSubmit($event)">
  <mat-card [formGroup]="form">
    <mat-toolbar color="primary">
      <span>My Application</span>
    </mat-toolbar>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label> Email </mat-label>

        <input formControlName="email" matInput type="email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> password </mat-label>

        <input formControlName="password" matInput type="password" />
      </mat-form-field>
    </mat-card-content>
    <div id="footer">
      <button
        [disabled]="!form.valid"
        type="submit"
        mat-raised-button
        color="primary"
      >
        Login
      </button>
    </div>
  </mat-card>
</form>
