:host {
  background-color: rgb(171, 180, 189);
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
}

mat-card {
  width: 35%;
  min-height: 100px;
  margin: 50px auto;
  padding: 0px;
  overflow: hidden;
  mat-toolbar {
    padding-left: 30px;
  }
  mat-card-content {
    padding: 30px;
    padding-bottom: 0px;
    mat-form-field {
      width: 100%;
    }
  }
  #footer {
    display: flex;
    padding: 30px;
    padding-top: 0px;
    mat-raised-button {
      padding-right: 20px;
    }
    button {
      margin-left: auto;
    }
  }
}
