<form [formGroup]="form" (submit)="onSubmit()">
  <div id="header">
    <button
      type="button"
      (click)="location.back()"
      mat-icon-button
      class="closeIcon"
    >
      <mat-icon>close</mat-icon>
    </button>

    <div fxLayout="row">
      <div id="image" fxFlex="140px">
        <div
          id="mainImg"
          [style.background-image]="'url(' + form.value.pic + ')'"
        ></div>

        <button
          type="button"
          (click)="fileInput.click()"
          mat-mini-fab
          id="cameraButton"
        >
          <mat-icon class="material-icons-outlined">camera_alt</mat-icon>
        </button>

        <input
          #fileInput
          (change)="handleFileSelect($event)"
          type="file"
          id="contactPicPicker"
        />
      </div>

      <div id="right" fxFlex="50%" fxLayout="row">
        <div
          id="labels"
          fxFlex="grow"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <button type="button" mat-icon-button id="labelIcon">
            <mat-icon class="material-icons-outlined">label</mat-icon>
          </button>
        </div>
        <div id="actions" fxLayout="row" fxLayoutAlign="end end">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="
              form?.invalid ||
              (contactToEdit && areContactsSame(form.value, contactToEdit))
            "
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="content">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
      <div>
        <mat-icon class="material-icons-outlined">person</mat-icon>
      </div>

      <mat-form-field fxFlex="grow">
        <mat-label>First name</mat-label>
        <input formControlName="firstName" matInput />
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
      <div>
        <mat-icon class="material-icons-outlined"></mat-icon>
      </div>

      <mat-form-field fxFlex="grow">
        <mat-label>Last name</mat-label>
        <input formControlName="lastName" matInput />
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
      <div>
        <mat-icon class="material-icons-outlined">business</mat-icon>
      </div>

      <mat-form-field fxFlex="grow">
        <mat-label>Company</mat-label>
        <input formControlName="company" matInput />
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
      <div>
        <mat-icon class="material-icons-outlined">email</mat-icon>
      </div>

      <mat-form-field fxFlex="grow">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput />
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
      <div>
        <mat-icon class="material-icons-outlined">phone</mat-icon>
      </div>

      <mat-form-field fxFlex="grow">
        <mat-label>Phone</mat-label>
        <input formControlName="phone" type="text" matInput />
      </mat-form-field>
    </div>
  </div>
</form>
