#header {
  padding: 20px 50px;
  border-bottom: 1px solid rgb(220, 220, 220);
  position: relative;

  .closeIcon {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  #image {
    position: relative;
    #mainImg {
      border-radius: 50%;
      width: 100%;
      padding-bottom: 100%;
      background-size: cover;
      background-position: center;
    }
    #cameraButton {
      background-color: rgba(#000, 0.6);
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin: auto;

      &,
      mat-icon {
        cursor: pointer;
      }
    }

    input {
      display: none;
    }
  }

  #right {
    padding-left: 30px;

    button#labelIcon {
      border: 1px solid #ccc;
      width: 35px;
      height: 35px;
      line-height: 33px;

      mat-icon {
        font-size: 18px;
        color: #4a8ded;
      }
    }
  }
}

#content {
  width: 30%;
  padding-top: 30px;
  padding-left: 30px;

  mat-icon {
    color: rgb(184, 184, 184);
  }
}
