<mat-toolbar color="light">
  <div fxFlex="<flex-grow>">
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      fxFlex="280px"
    >
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div id="logo" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px">
        <button
          mat-mini-fab
          class="logoIcon mat-elevation-z0"
          color="primary"
          aria-label="Example icon button with a heart icon"
        >
          <mat-icon>person</mat-icon>
        </button>
        <div class="text">Contacts</div>
      </div>
    </div>

    <div fxFlex="grow" fxLayout="row" style="padding-left: 35px">
      <div fxFlex="grow">
        <app-search></app-search>
      </div>
      <div
        fxFlex="280px"
        id="actions"
        fxLayout="row"
        fxLayoutAlign="end center"
      >
        <button mat-icon-button>
          <mat-icon>help_outline</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">settings</mat-icon>
        </button>

        <div [matMenuTriggerFor]="menu" matRipple class="avatar"></div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon> Account settings
          </button>
          <button mat-menu-item><mat-icon>exit_to_app</mat-icon> Logout</button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>
