mat-toolbar {
  background-color: #fff;
  .logoIcon {
    background-color: #313cda;
  }
  .text {
    color: #5f6367;
  }

  #actions {
    mat-icon {
      color: #6e7275;
    }

    .avatar {
      background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
      width: 40px;
      height: 40px;
      background-size: cover;
      border-radius: 50%;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}
