:host {
  display: flex;
  flex-direction: column;
  button {
    text-align: left;
    padding: 5px 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    mat-icon {
      font-size: 20px;
      color: rgb(133, 133, 133);
    }

    &.active {
      &,
      mat-icon {
        color: #1966d2;
      }
      background-color: #e7f0fe;
    }
  }

  #createButton {
    width: 170px;
    margin-left: 10px;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    color: #3d4144;
    padding: 5px;
    padding-left: 20px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
}
