<div
  id="createButton"
  routerLink="/new"
  matRipple
  class="mat-elevation-z1 mat-elevation-z3"
>
  <svg width="36" height="36" viewBox="0 0 36 36">
    <path fill="#34A853" d="M16 16v14h4V20z"></path>
    <path fill="#4285F4" d="M30 16H20l-4 4h14z"></path>
    <path fill="#FBBC05" d="M6 16v4h10l4-4z"></path>
    <path fill="#EA4335" d="M20 16V6h-4v14z"></path>
    <path fill="none" d="M0 0h36v36H0z"></path>
  </svg>

  Create contact
</div>

<button
  mat-button
  routerLinkActive="active"
  routerLink="/"
  [routerLinkActiveOptions]="{ exact: true }"
>
  <mat-icon class="material-icons-outlined">person</mat-icon> Contacts
</button>
<button
  mat-button
  routerLinkActive="active"
  routerLink="/labels"
  [routerLinkActiveOptions]="{ exact: true }"
>
  <mat-icon class="material-icons-outlined">tag</mat-icon> Labels
</button>
