:host {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
mat-drawer-content {
  padding-left: 45px;
}
mat-drawer,
mat-drawer-content {
  background: #fff;
}
mat-drawer-container {
  height: 100%;
}
mat-drawer {
  width: 300px;
  border: 0px;
}
