<app-header [drawer]="drawer"></app-header>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer [mode]="'side'" opened="true">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
